h3
{
	padding:10px;
	color:white;
    font-size: 30px;
}
p{
	color:white;
}
.cardCarrusel{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-image: linear-gradient(45deg, #C6E6E3 0%, #81BFB7  100%, #A5CFB2  75%,#D4EFD4 100%);
	border-radius: 25px;
}
.infoContainer
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-image: linear-gradient(45deg, #7E2A53 0%, #461D3A  51%, #BA71A2  100%);
	border-radius: 15px 50px;
}
/* Table for stats */
table {
	width: 800px;
	border-collapse: collapse;
	border-radius: 15px 50px;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
}

th {
	text-align: left;
}

thead {
	th {
		background-color: #7E2A53;
	}
}

tbody {
	tr {
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	}
	td {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
			}
		}
	}
}