.pageLogo
{
    width: 120px;
    height: auto;
}

.pjCard{
    width:150px;
    height:200;
}
/* ABOUT section */
.character_info_carrusel img
{
    cursor: pointer;
    gap: 50px;
    border: 10px solid transparent; 
    transition: border-color 0.3s ease;
}
.character_info_carrusel img:hover
{    
    border-color:blue;
}
/* Main Deck showcase */
.carddeck_Section{
    display: flex;
    justify-content: center; /* Centers images horizontally */
    align-items: center; /* Centers images vertically */
    gap: 50px;
}

