@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');
body {
    font-family: 'Gaegu', bold;
    font-size: 36px;
    margin: 10px 96px;
    padding: 5px;
    background-image: linear-gradient(45deg, #9E93E6 0%, #DEBFF2  51%, #BA71A2  100%);
}
p{
    margin: 10px 100px;
}
footer{
    margin-top:100px;
    padding: 50px;
    border-radius: 15px 50px 30px 5px;
    background-image: linear-gradient(45deg, #C6E6E3 0%, #81BFB7  100%, #A5CFB2  75%,#D4EFD4 100%);
}
h2{
    color: white;
}
.ruleBullets{
    margin: 10px 100px;
}

/* Navigation bar style */
.navBar{
    display: flex;
    gap:20px;
    background-color: #ECD0EC;  
    border-radius: 15px 50px;  
}

.navBar li{
    display: inline;
    cursor: pointer;
    font-size: 25px;
    background-color: #ECD0EC;
    padding: 20px;
}
.navBar li:hover{
    background-image: linear-gradient(45deg, #C6E6E3 0%, #81BFB7  100%, #A5CFB2  75%,#D4EFD4 100%);
    border-radius: 25px;
}
a{
    text-decoration: none;
}
a:hover{
    color: white;
}

/* Start button */
/* CSS */
.startbtn {
  margin: 10px;
  padding: 15px 30px;
  height: 100px;width:250px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Gaegu', bold;
  font-size: 36px;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  border-radius: 20em;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #7E2A53;
  background-image: linear-gradient(45deg, #C6E6E3 0%, #81BFB7  25%, #BA71A2  75%,#9E93E6 100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.startbtn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.startbtn:active {
  transform: scale(0.95);
}
.btnSpace{
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically (if needed) */
    width: 100%; /* Ensure it takes full width */
}
/* Sec */
.common_Sec{
    color:white;
    padding: 50px;
    background-image: linear-gradient(45deg, #7E2A53 0%, #461D3A  51%, #BA71A2  100%);
    border-radius: 15px 50px 30px 5px;
}

/* Players deck */
.deck_selection{
    display: flex;
    justify-content: space-between; /* Equal space between items */

}
.carddeck_Section{
    margin: 0px;
    border-radius: 25px;
    padding: 50px;
    background-image: linear-gradient(45deg, #C6E6E3 0%, #81BFB7  100%, #A5CFB2  75%,#D4EFD4 100%);
}
/* GameDeck is the main Selection Deck */
.gameDeck{ 
    color: white;
    border-radius: 25px;
    padding: 50px;
    background-image: linear-gradient(45deg, #7E2A53 0%, #461D3A  51%, #BA71A2  100%);
    ;
}
/* GamingDeck us the players deck, the one user selected/pc */
.gamingDeck{
    display: flex; /* Aligns cards in a row */
    gap: 10px; /* Automatically sets spacing between cards */
}
